.app {
  margin: 20vh 0 0 0;
  text-align: center;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px;
  grid-template-areas:
    '. counter counter .'
    '. increment decrement .';
}

.counter {
  grid-area: counter;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.7rem;
}

.decrement {
  grid-area: decrement;
  background: tomato;
}

.increment {
  grid-area: increment;
  background: gold;
}

.button {
  height: 50%;
}

.button-wrapper {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
