.App {
  text-align: center;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px;
  grid-template-areas:
    '. counter counter .'
    '. increment decrement .';
}

.Counter {
  grid-area: counter;
}

.DecrementWrapper {
  grid-area: decrement;
}

.IncrementWrapper {
  grid-area: increment;
}
